@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;700;900&display=swap');

body{
    --text: #000;
    --bg: #fff;
    overflow-x: hidden;
    background: var(--bg);
    color: var(--text);
		font-family: 'Montserrat', sans-serif;
		position: relative;
}

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: var(--link);
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

textarea, button, input{
    border: 0;
    outline: 0;
    color: var(--text);
    border: 1px solid var(--text);
    font-family: 'Montserrat', sans-serif;
}

nav {
	display: flex;
	justify-content: space-between;
	/* background-color: antiquewhite; */
	align-items: center;
	padding: 5px;
	color: #fff;
	font-size: 18px;
	font-weight: 600;
}
.logo {
	display: flex;
	align-items: center;
}
.logo img {
	height: 50px;
	width: 100%;
	object-fit: cover;
}
.menu_btn {
}
.menu_container {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.menu {
}
.menu-list {
	list-style: none;
	display: flex;
	justify-content: space-between;
}
.menu_item {
	margin-right: 20px;
}
.search_btn {
	width: 30px;
	height: 30px;
	background-color: aquamarine;
	margin-right: 20px;
}
.lang_btn {
	width: 30px;
	height: 30px;
	background-color: aquamarine;
}
header {
	border-bottom: 10px solid #3344bb;
}
.container {
}
.header_content {

}
.header_content h2{
	margin: 100px;
	font-size: 50px;
	color: #fff;
}
.header_img {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	transform: translate(0, -50%);
	z-index: -1;
}






.feedback_section {
	padding: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #fff;
	/* position: relative; */
}
.container {
}
.feedback_section h2 {

}
.feedback_form {
	display: flex;
	justify-content: center;
	padding: 50px;
	width: 100%;
}
.feedback_data {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 30%;
	margin-right: 50px;
}
.feedback_data input {
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	border-radius: 5px;
	background-color: transparent;
	color: #000;
	font-weight: 600;
	border: 2px solid #000;
}
.feedback_data input:active {
	background-color: rgba(21, 22,122, .2);
}
.feedback_data input:last-child {
	margin-bottom: 0;
}
.feedback_section textarea {
	width: 30%;
	padding: 10px;
	border-radius: 5px;
	background-color: transparent;
	color: #000;
	font-weight: 600;
	border: 2px solid #000;
}
.feedback_btn {
	width: 200px;
	padding: 10px;
	border-radius: 5px;
	background-color: #3344bb;
	color: #000;
	font-weight: 600;
	border: 2px solid #3344bb;
	display: flex;
	justify-content: center;
	/* position: absolute;
	bottom: 40px;
	margin: 0 auto;
	left: 0;
	right: 0; */
}


footer {
	background-color: #090909;
	color: #999;
}
.container {
}

.footer_list {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}
.footer_list-item {
	display: flex;
	flex-direction: column;
	width: 20%;
	margin: 10px;
}
.footer_list-item h3 {
	font-size: 20px;
	color: tomato;
	margin: 20px 0;
}
.footer_list-item span, .footer_list-item a{
	margin-bottom: 10px;
	line-height: 25px;
}
.footer_policy {
	display: flex;
	justify-content: space-between;
	padding: 20px;
}